# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Amanda Anderson

**Objectives:**
- List popular languages for Data Science
- Create a Jupyter Notebook with markdown and code cells
- Demonstrate proficiency in Data Science toolkit knowledge
- List examples of languages, libraries and tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools|
|-----|
|RStudio|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
 (3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335